# Maven files
target/
src/main/webapp/WEB-INF/classes
bin/

# Eclipse project files
.project
.classpath
.settings
.metadata

# IntelliJ IDEA files
*.iml
*.ipr
*.iws
.idea

# Mac OS
.DS_Store

# backup-files
*~

# spring
.springBeans