<Server port="8005" shutdown="SHUTDOWN">
<!--   <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" /> -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <Service name="Catalina">
    <Connector port="8080" protocol="HTTP/1.1" connectionTimeout="20000"
               redirectPort="8443" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host appBase="webapps" autoDeploy="true" deployOnStartup="true"
            name="localhost" unpackWARs="true" xmlValidation="false"
            xmlNamespaceAware="false">
        <Context docBase="aic2014-gr3-topic4-webapp" path="/"/>
<!--         <Valve className="org.apache.catalina.valves.AccessLogValve"  -->
<!--                pattern="'%h %t &quot;%r&quot; %s %Dms %b"/> -->
      </Host>
    </Engine>
  </Service>
</Server>